#Menu1 li.opc_5 a { 
					background-color: #F47920;
					color: white;
					border-radius: 5px;
					border-bottom: 8px solid #6e6e6e;
					}

.tit_tab_autor {
    				text-shadow: 300;
        			font-family: "Franklin Gothic Book";
    				font-size: 25px;
    				text-align: left; }
.resp_tab_autor {
    				text-shadow: 300;
        			font-family: "Franklin Gothic Book";
    				font-size: 23px;
    				text-align: left; }

.foto_perfil	{
					margin-top: -165px;
					text-align: center;
					float: left;
					width: 15.5em;
					height: 20em;
					padding-left: 0px;
					border-top: #F3B72D 8px groove;
					border-right: #F3B72D 8px groove;
					border-bottom: white 8px groove;
					border-left: white 8px groove;
					margin-left: 520px;
					}